<div class="login-page">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email Address" />
        <input type="text" name="password" placeholder="Password" />
        <button id="login">LOG IN</button>
    </form>
</div>