<div class="login-page">
    <div class="base-login"></div>
    <div class="login-box">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="emial" name="email" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Password" />
            <button id="login">LOG IN</button>
        </form>
        <p>If you are not a member, please
            <a id="registration" href="/registration"> register </a>

        </p>
        <div class={{class}}>
            <p> ⛔️ The email address or password you entered is invalid.</p>
        </div>
    </div>
</div>