<h1>Welcome to registration-page!!!</h1>

<div class="registration-page">

    <form method="POST">
        <input type="text" name="firstName" placeholder="First name" />
        <input type="text" name="lastName" placeholder="Last name" />
        <input type="text" name="email" placeholder="Email Address" />
        <input type="text" name="password" placeholder="Password" />
        <input type="hidden" id="input-canvas" name="signature" />
        <p class="notice">Please sign below:</p>
        <canvas id="myCanvas" width="300" height="100"></canvas>

        <button id="submit">SIGN UP</button>
    </form>

    <p>If you are already a member, please
        <a id="login" href="/login"> Log in</a>

    </p>
    <div class={{class}}>
        <p>Please input data completely!!</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/canvas.js"></script>

</div>