<div class="registration-side">
    <div class="leftSide">

    </div>
    <h1>Hey, please register before you sign the petition.</h1>
    <form method="POST">
        <ul>

            <li><input
                    type="text"
                    name="firstName"
                    placeholder="First name"
                /></li>
            <li><input
                    type="text"
                    name="lastName"
                    placeholder="Last name"
                /></li>
            <li><input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                /></li>
            <li><input
                    type="password"
                    name="password"
                    {{! value="FakePSW" }}
                    id="pp"
                    placeholder="Password"
                /><input
                    class="tick"
                    type="checkbox"
                    onclick="showPassword()"
                />Show Password

            </li>
        </ul>
        <button id="submit">SIGN UP</button>
    </form>
    <p>If you are already a member, please
        <a id="login" href="/login"> Log in</a>
    </p>
    <div class={{class}}>
        <p> Ooops, {{errorMessage}} </p>
    </div>
</div>
<script src="/password.js"></script>