<h1>Welcome to registration-page!!!</h1>
<div class="registration-page">
    <form method="POST">
        <input type="text" name="firstName" placeholder="First name" />
        <input type="text" name="lastName" placeholder="Last name" />
        <input type="text" name="email" placeholder="Email Address" />
        <input type="text" name="password" placeholder="Password" />
        <button id="submit">SIGN UP</button>
    </form>
    <p>If you are already a member, please
        <a id="login" href="/login"> Log in</a>
    </p>
    <div class={{class}}>
        <p>Please input data completely!!</p>
    </div>
</div>