<div id="sign-page">
    <div id="petition-msg">
        <h3>Although peeing for free is a God-given right in ‘Muricah, you’ll
            find that’s not usually the case in Germany
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip</p>
    </div>
    <div id="sign-block">

        <form method="POST">
            <input type="text" name="firstName" placeholder="First name" />
            <input type="text" name="lastName" placeholder="Last name" />
            <input type="text" name="age" placeholder="Age" />
            <input
                type="text"
                name="country"
                placeholder="where are you from?"
            />
            <input type="hidden" id="input-canvas" name="signature" />
            <p class="notice">Please sign below:</p>
            <canvas id="myCanvas" width="300" height="100"></canvas>

            <button id="submit">Submit</button>
        </form>
        <div class={{class}}>
            <p>Please input data fully: First Name, Last Name and Signature</p>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/canvas.js"></script>
    </div>
</div>