<div class="bg-thanks">
    <div class="icon"></div>
</div>
<h1>Thank you very much for your support!</h1>
<img src="{{signature}}" alt="signature" width="600px" height="150px" />
<h2>There are in total {{num}} signers</h2>
<a href="/list">See all the signers</a>
{{! set the data url to the correct attribute 👀 in the img tag so that your img will render onscreen successfully }}